* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: wheat;
}

.container {
    width: 100%;
    height: 100%;
    border: 1px solid blue;
    position: relative;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-evenly;
}

.board {
    width: 45%;
    aspect-ratio: 1;
    /* background-color: #121212; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    position: relative;
    gap: 10px;
}

.box {
    aspect-ratio: 1;
    z-index: 5;
    transition: .1s;
    background-size: cover;
    background-position: center;
    /* background-image: url('/imgs/x.png'); */
}

.box:hover {
    background-color: rgba(127, 128, 127, 0.329);
}

.lines {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.lines:nth-child(2) {
    transform: rotate(90deg);
}

.lines>div {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: black;
}

.scoreboard {
    width: 40%;
    height: 200px;
    border: 1px solid black;
}
